* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder
}

ul, nav{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}
a:hover{
    opacity: 1;
    color: #0065FC;
}

/*header*/
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0;
}

header nav {
    display: flex;
}

header nav a {
    margin: 0 15px;
}

/*footer*/
footer {
    flex-shrink: 0;
    border-top: 1px solid;
    width: 100%;
    background: #f2f2f2;
    color: #333;
}
.contenu-footer {
    width: 992px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px;
}

.liste-a-propos,
.liste-hébergements,
.liste-assistance {
    list-style-type: none;
}
.liste-a-propos li,
.liste-hébergements li,
.liste-assistance li {
    padding: 0;
}
.liste-a-propos a,
.liste-hébergements a,
.liste-assistance a {
    text-decoration: none;
}
.liste-a-propos a:hover,
.liste-hébergements a:hover,
.liste-assistance a:hover {
    color: #0065FC;
}
