* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
}
.border {
    padding: 15px 20px 20px;
    margin: 15px 20px 20px;
}
h2 {
    margin-top: 20px;
    padding: 15px 0 15px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}
a:hover{
    opacity: 1;
    color: #0065FC;
}

/*header*/
header {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    size: 60%;
}
header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%
}

/*search-bar*/
search-bar {
    margin: 30px 0 30px;
    display: flex;
    align-items: center;
    width: 450px;
    border-radius: 10px;
}
input {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 2px solid #f2f2f2;
    height: 50px;
    width: 200px;
    font-weight: bold;
}
search-bar i {
    display: flex;
    align-items: center;
    padding: 18px 0 0 20px;
    height: 50px;
    width: 50px;
    border-radius: 15px 0 0 15px;
    background-color: #f2f2f2;
}
search-bar span {
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 115px;
    border-radius: 0 15px 15px 0;
    color: #fff;
    background-color:#0065FC;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}


/*filters*/
filter{
    display: flex;
    align-items: center;
    margin: 50px 0 50px;
}
filter h3 {
    margin:0 20px 0 0;
}
filter .icon {
    display: flex;
    align-items: center;
    border: 3px solid #f2f2f2;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    margin: 0 25px 0 0;
}
filter i {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #0065FC;
    background: #DEEBFF;
}
filter span {
    padding-left: 10px;
}

/*info*/
section-info {
    width: 100%;
    padding: 20px 0 20px;
    margin: 20px 0 20px;
}
section-info .wrapper .button {
}
section-info .wrapper .button .icon {
    display: inline-block;
}
section-info .wrapper .button .icon i {
    color: #0065FC;
}

/*hebrgement/populaires/activités*/
#container-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: right;
    background: yellow;
    padding: 20px;
}
#container-1 img {
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    background: rgb(214, 170, 23);
    border: 2px transparent;
    border-radius:10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.container-hebergements {
    column-count: 3;
    flex: 7;
    border: 2px transparent;
    border-radius: 15px;
    background: #f2f2f2;
    padding: 20px;
    margin: 5px;
}
.container-populaires {
    flex: 3;
    border: 2px transparent;
    border-radius: 15px;
    background: #f2f2f2;
    padding: 20px;
    margin: 5px;
}

#container-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: brown;
    padding: 20px;
}
#container-2 img {
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    background: rgb(214, 170, 23);
    border: 2px transparent;
    border-radius:10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.container-activités {
    column-count: 4;
    flex: 1 1 auto;
    background: #fff;
    padding: 20px;
}

/*footer*/
.container-footer {
    width: 100%;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 20px 20px;
}

.liste-a-propos,
.liste-hébergements,
.liste-assistance {
    list-style-type: none;
}
.liste-a-propos li,
.liste-hébergements li,
.liste-assistance li {
    padding: 15px 0 0;
}
.liste-a-propos a,
.liste-hébergements a,
.liste-assistance a {
    text-decoration: none;
}
.liste-a-propos a:hover,
.liste-hébergements a:hover,
.liste-assistance a:hover {
    color: #0065FC;
}
